################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeManagement/.vs/EmployeeManagement/FileContentIndex
/EmployeeManagement/Employee.Model/obj
/EmployeeManagement/EmployeeAPI/obj
/EmployeeManagement/EmployeeManagement/obj
