################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeManagement/.vs/EmployeeManagement/FileContentIndex
/EmployeeManagement/Employee.Model/obj
/EmployeeManagement/EmployeeAPI/obj
/EmployeeManagement/EmployeeManagement/obj
/EmployeeManagement/.vs
/EmployeeManagement/Employee.Model/bin/Debug/net6.0
/EmployeeManagement/EmployeeAPI/bin/Debug/net6.0
/EmployeeManagement/EmployeeManagement/bin/Debug/net6.0
